<section  >
    <div class="form-group">
      <label for="amount"><h4>Show Coupons By EndDate </h4></label>
      <input type="date" class="form-control" id="ExpirationD"  [(ngModel)]="coupon.endDate" placeholder="Enter Expiration Date" name="ExpirationD" required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    
    <br>
    <button type="button" class="btn-primary" (click) = "showCoupons()">Submit</button>
  </section  >
  
  <section  >
    <table class=" table table-dark table-hover" style="float: left ">
        <thead>
          <tr>
            <th>ID:</th>
            <th>Category:</th>
            <th>Title:</th>
            <th>Description:</th>
            <th>Image:</th>
            <th>Stock:</th>
            <th>Price:</th>
            <th>StartDate:</th>
            <th>Exparetion:</th> 
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of companyCoupons" >
            <td >{{c.id}}</td>
            <td >{{c.category}}</td>
            <td>{{c.title}}</td>
            <td  >{{c.description}}</td>
            <td> <img id="myImg" src="{{c.image}}" alt="Snow" style="width:75%;max-width:75px"></td>
            <td>{{c.amount}}</td>
            <td>{{c.price }}</td>
            <td>{{c.startDate | date: "dd-MM-yyyy" }}</td>
            <td>{{c.endDate | date: "dd-MM-yyyy" }}</td>
          </tr>
        </tbody>
      </table>
    </section>
